# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# # binaries, objects
bin/
obj/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# # root-related
*.root
*.C

# Executables
*.exe
*.out
*.app

# output
*.log
*.out
